body {
	background-color: #000
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:80%;
	margin-left:1%;
	/*margin-right:auto;*/
	margin-top:none;
	font-size:100%;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #888; }
    	/*50% { color:  #888; }*/
    	99% { color: black; }
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 